/* This file is for your main application css. */

/* I hate default hyperlink styling*/
body {
  margin: 0;
}

a {
  outline: 0;
  text-decoration: none;
}

a:active {
  outline: 0;
  -moz-outline-style: none;
}

a:hover {
  text-decoration: none;
}

div {
  overflow-x: hidden;
}
