/* This file is for your main application css. */

/* I hate default hyperlink styling*/
html,
body {
  margin: 0;
  height: 100vh;
}

a {
  outline: 0;
  text-decoration: none;
}

a:active {
  outline: 0;
  outline-style: none;
  -moz-outline-style: none;
}

a:hover {
  text-decoration: none;
}
