@import '../base/pallete.scss';
.contact {
  .contact-options {
    margin-bottom: 20px;
    .contact-option {
      margin-top: 10px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      a {
        color: $color-active;
        font-size: 0.7em;
        &:hover {
          color: $color-green-dark;
        }
      }
      .icon {
        background-color: $color-active;
        margin-right: 10px;
      }
    }
  }
  &-form {
    .field {
      .label.required {
        &::after {
          content: ' * ';
          color: red;
          font-size: 0.9em;
        }
      }
    }
  }
}
